# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Model files (กันไฟล์ใหญ่หลุดขึ้น Git)
*.h5
*.pkl

# Firebase key (สำคัญมาก)
serviceAccountKey.json
firebase_key.json
*.json
*firebase*
serviceAccountKey.json

# Data files (ถ้าไม่อยากอัปขึ้น git)
data/

# System files
.DS_Store